@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: 'Kalpurush';
    src: url('./fonts/kalpurush/Kalpurush.eot');
    src: url('./fonts/kalpurush/Kalpurush.woff') format('woff'),
            url('./fonts/kalpurush/Kalpurush.ttf') format('truetype'),
            url('./fonts/kalpurush/Kalpurush.svg#Kalpurush') format('svg'),
            url('./fonts/kalpurush/Kalpurush.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
} */

.font-Kalpurush-bold {
	font-family: 'Kalpurush', sans-serif;
}
p {
    font-family: 'Kalpurush', sans-serif;
    font-weight: 600;
}
@media (min-width: 1536px) {
    .container {
        width: 1650px !important;
    }
}

.gmail-login-button {
    @apply bg-white border border-gray-300 text-gray-700 font-medium py-2 px-4 rounded shadow-sm hover:bg-gray-50 hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500;
  }

.footer-menu-item:after {
	content: '';
    position: absolute;
    background: #fff;
    height: 13px;
    width: 1px;
    right: -12px;
    top: 6px;
}
.blue-bg-img {
	background-image: url('./assets/background-blue.jpg');
	background-size: cover;
	background-position: center;
}
.light-blue-bg-img {
	background-image: url('./assets/background-light-blue.jpg');
	background-size: cover;
	background-position: center;
}
.swiper-padding {
	margin-left: 9rem !important;
	margin-right: 9rem !important;
}
.yellowBg {
	background: #FBEB0A;
}
.darkYellowBg {
    background: #FBEB0A;
}
.text-blue-dark {
	color: #362164; 
}
.dark-blue-bg {
    background: #362164;
}
.whiteBox {
    background: #fff;
    border: 2px solid #000;
}
.share-link-style {
    
}

.slick-slider {
    height: auto;
}

.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.slick-vertical .slick-slide {
    height: auto !important;
    margin-bottom: 15px;
}
.slick-vertical .slick-slide {
    height: auto;
}
.sloganSelect-slick {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 12px 5px;
}
.rsw-editor {
    border: 2px solid #1c1b1b !important;
    border-radius: 18px !important;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    overflow: hidden;
}
.rsw-ce {
    flex: 1 0 auto;
    outline: none;
    padding: 40px !important;
    background: #fff !important;
    font-family: 'Kalpurush', sans-serif;
    font-weight: 600;
    color: #362164;
    font-size: 1.25rem;
    min-height: 350px;
    height: 350px;
    overflow-y: scroll;
}
.rsw-ce div {
    font-family: 'Kalpurush', sans-serif;
    font-weight: 600;
    color: #362164;
    font-size: 1.25rem;  
    margin-bottom: 15px;  
}

#root{
    position: relative;
}

@media (max-width: 767px) {
    .grid-container-2 {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 767px) {
    .verticalSlider {
        width: 100%;
        height: 100%;
    }
}
@media(max-width: 639px) {
    .hero-mobile-nav {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media(max-width: 489px) {
    .hero-mobile-nav {

    }
}